* {
  margin: 0;
  padding: 0;
}
body {
  font: normal 1.2rem Arial;
  text-align: center;
  background-color: #bd7964;
}
input {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
}
header,
footer {
  margin: 20px;
}
section {
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 auto;
  max-width: 500px;
  height: auto;
  background-color: white;
}

#foto {
  width: 200px;
  height: 200px;
  margin: 20px;
  box-sizing: border-box;
}
img {
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #bd7964;
}
